{% extends '@OctopouceBlog/Admin/layout.html.twig' %}

{% block title %}Posts - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Posts <a href="{{ path('octopouce_blog_admin_post_create') }}" class="waves-effect waves-light btn green"><i class="fas fa-plus"></i></a></h1>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
                <div class="col s6 m3 l3">
                    <div class="box">
                        {% if post.image %}<div class="bg-img" style="background-image: url('{{ asset(post.image.path.pathname) }}');"></div>{% endif %}
                        <a href="{{ path('octopouce_blog_admin_post_edit', {'post':post.id}) }}" class="title">{{ post.title }}</a>
                        <div class="content">
                            {{ post.content|truncate(30)|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

