{% extends '@OctopouceBlog/Admin/layout.html.twig' %}

{% block title %}{{ post.title }} - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row">
            <div class="col s12">
                {% if post.image %}
                        <img src="{{ asset(post.image.path.pathname) }}" alt="{{ post.image.alt }}" width="100%" title="{{ post.image.title }}">
                {% endif %}
                <h1>{{ post.title }}</h1>
                {{ post.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}